*{
	box-sizing: border-box;
}

.main_body{
	margin-left: 20px;


	background: url(CUTE.png);
	background-size: cover;
	background-repeat: no-repeat;
	
}

.bg{
	display: block;
	background: rgb(230, 230, 200);
	padding: 20px;
	margin-left: 20px;
	padding-bottom: 40px;
}





.b_bar{
	border-radius: 0px;
	border: 1px solid black;

	background: rgb(230, 230, 230);

	padding: 15px 32px;

	font-size: 20px;
	font-family: "Georgia";
}

.b_bar:hover{
	background: rgb(200, 200, 200);
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

.sign_form{
	margin: 2px 25px 2px 25px;
	
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	padding: 20px;
	border-radius: 10px;

	background: rgb(240, 240, 200);
}

.sub_button{
	padding: 5px 25px 5px 25px;
	
	margin-left: 20%;
	margin-top: 10%;

	font-size: 24px;

	background: rgb(240, 240, 50);
	border: none;
	border-radius: 3px;
}



input{
	display: block;
	
	padding: 6px;
	margin: 2px 20px 2px 20px;
}


.profile{
	margin: 10px;
	padding: 20px;
	background: rgb(200, 200, 100);
}
.profile_block{
	border: 2px solid rgb(180, 180, 100);
	background: rgb(220, 240, 100);

	margin-right: 80%;

	padding: 20px;
}

.profile_pic{
	
	border-radius: 50%;
	border: 2px solid rgb(180, 180, 100);
	margin: auto;
	
	width: 75%;
	
	
}